body{

    background: #0f172a  !important;
}
.button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
  background-color: var(--color);
}

.button {
  background: none;
  border: 2px solid;
  border-radius: 5px;
  font: inherit;
  line-height: 1;
  padding: 1rem 2rem;
}
.raise {
    --color: #8fc866;
    --hover: #66c887;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}